/* Estilos globales */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Khand', sans-serif;
}

body {
    /* Evitar desplazamiento horizontal */
    overflow-x: hidden;
}

header {
    color: #fff;
    padding: 0px;
    text-align: center;
    /* Permite el posicionamiento absoluto en el elemento hijo */
    position: relative;
    /* Asegura que el encabezado esté por encima del video */
    z-index: 1;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform-origin: center;
    transition: transform 0.3s ease;
    /* Agregamos una transición suave para el zoom */
}

nav {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 2;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.logo-item img {
    width: 80px; /* Ajustar el tamaño del logotipo */
}

.donate-button a {
    padding: 10px 20px;
    background-color: #ff5722;
    /* Color de fondo del botón */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.container {
    background-color: #FFF7E9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    /* Asegura que el contenedor tenga al menos el 100% de la altura de la ventana */
}

.title-container {
    padding-left: 5rem;
    width: 30%;
    background: white;
    margin-left: 8rem;
    margin-top: -5.5rem;
    margin-bottom: 0rem;
    position: relative;
    z-index: 1;
    
}

.title {
    font-weight: bolder;
    display: block;
    font-size: 2.5em;
    margin-block-start: 0.67em;
    color: black;
}

.side-text-container {
    width: 34.1%;
    background:white;
    float:left;
    margin-left: 8rem;
    margin-top: 0px;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center; /* Centra horizontalmente el contenido */
}

.side-text-container p {
    text-align: left; /* Alinea el texto de los elementos <p> a la izquierda */
}

.involucrate-button {
    background: linear-gradient(to right,#fe7b01 0,#fd3333 100%);
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: .7rem 1rem;
    display: block; /* Cambia a un bloque para que ocupe toda la anchura */
    margin: 0 auto; /* Centra horizontalmente el botón dentro del contenedor */
    width: 50%; /* Puedes ajustar el ancho del botón según tus necesidades */
    border-radius: 1rem;
}

.image-title {
    font-family: 'Tu-Fuente-Moderna', sans-serif;
    background-color: #FF731D;
    padding-left: 1rem;
    /* Reemplaza 'Tu-Fuente-Moderna' con la fuente que desees */
    color: #FFF7E9;
    /* Cambia el color del texto a tu preferencia */
    font-size: 50px;
    /* Cambia el tamaño de la fuente a tu preferencia */
    margin: 0;
    /* Elimina los márgenes predeterminados del h1 */
}

.image-container {
    float:right;
    width: 50%;
    display: flex;
}

.image-container img {
    width: 90%;
}

.first-img, .second-img, .third-img, .fourth-img {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.second-img, .fourth-img {
    margin-top: 4.5rem;
}

.first-img img {
    width: 80%;
    height: auto;
}

.second-img img {
    width: 80%;
    height: auto;
}
.third-img img {
    width: 80%;
    height: auto;
}
.fourth-img img {
    width: 80%;
    height: auto;
}

h2 {
    width: 76.5%;
    margin-top: 0px; /* Ajusta el espacio entre la imagen y el título (ajusta según sea necesario) */
    text-align: center; /* Centra horizontalmente el título */
}


footer {
    background-color: #333;
    /* Color de fondo del footer */
    color: #fff;
    /* Color del texto */
    text-align: center;
    padding: 20px 0;
    /* Espaciado interno */
}

.social-icon {
    color:  #ff5722;
    display: inline-block;
    margin: 0 10px;
    font-size: 3rem; /* Ajusta el tamaño de los íconos según tus necesidades */
}
